body {
  box-sizing: border-box;
  width: 100%;
  font-size: 24px; }

section h2 {
  text-align: center;
  font-size: 2rem;
  color: #1078ad;
  margin-bottom: 60px; }

/*________________________________start section header______________________________________________*/
header {
  background-image: url("/Assets/png/Merged-bar-transparent.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bfdbea;
  display: flex;
  justify-content: space-between; }

.logo-sante {
  margin-top: 8px;
  margin-left: 30px; }

.navbar {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none; }
  .navbar__item {
    margin: 0 20px;
    font-weight: 700;
    font-size: 2rem; }
    .navbar__item a {
      text-decoration: none;
      color: #000; }
      .navbar__item a:hover {
        color: #1078ad; }

.multilangBtn {
  width: 140px;
  height: 50px;
  margin: 0 30px;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: transparent;
  border-radius: 16px;
  border: 2px solid #1a519e;
  display: flex;
  align-self: center; }
  .multilangBtn .icon-multilang {
    width: 40px;
    height: 40px;
    margin: 0 12px; }

nav {
  display: flex; }

/*________________________________end section header______________________________________________*/
/*________________________________start yellow section______________________________________________*/
.yellowsection1 {
  text-align: center;
  line-height: 1.6;
  background-color: #f4cf1b;
  margin-top: 0;
  padding: 2px;
  font-size: 1.2rem; }
  .yellowsection1 span {
    margin: 0;
    color: #000; }
  .yellowsection1 p {
    font-size: 1.2rem;
    font-weight: 700;
    color: #1078ad; }

/*________________________________end yellow section______________________________________________*/
/*________________________________start protoger section______________________________________________*/
.protection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }
  .protection__item {
    display: flex;
    flex-direction: column; }
    .protection__item p {
      align-self: center;
      text-align: center;
      font-weight: 600;
      color: #1a519e; }
    .protection__item img {
      height: 100px;
      align-self: center; }

/*___________________________________end protoger section________________________________________________*/
/*___________________________________start info section________________________________________________*/
.infoSection {
  background-color: #bfdbea;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .infoSection__text {
    color: #1a519e; }
    .infoSection__text p {
      text-align: center; }
    .infoSection__text h2 {
      text-align: center;
      font-size: 2rem;
      color: #1078ad;
      margin-bottom: 60px; }
  .infoSection__button {
    align-self: center; }
    .infoSection__button button {
      margin: 30px 0;
      font-size: 1.6rem;
      font-weight: 700;
      background-color: #1078ad;
      border: 1px solid #1078ad;
      width: 400px;
      height: 60px;
      text-align: center;
      color: #fff;
      align-self: center; }
      .infoSection__button button a {
        color: #fff;
        text-decoration: none;
        align-self: center; }

/*___________________________________End info section________________________________________________*/
/*___________________________________start Symptomsection________________________________________________*/
.symptomSection3 {
  text-align: center; }
  .symptomSection3 h2 {
    color: #1078ad;
    margin-bottom: 60px;
    text-align: center;
    font-size: 2rem;
    color: #1078ad;
    margin-bottom: 60px; }

.symptom {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around; }
  .symptom__item {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center; }
    .symptom__item p {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600; }
    .symptom__item img {
      align-self: center; }
    .symptom__item--goutlette {
      position: absolute;
      top: 63px; }
    .symptom__item--parablue {
      color: #1a519e; }

/*___________________________________end Symptomsection________________________________________________*/
/*___________________________________end transmet section________________________________________________*/
/*___________________________________end transmet section________________________________________________*/
/*___________________________________start recommendation section________________________________________________*/
.RecomandatSect4 {
  background-color: #1078ad;
  padding: 20px; }
  .RecomandatSect4 h2 {
    text-align: center;
    font-size: 2rem;
    color: #1078ad;
    margin-bottom: 60px;
    color: #d0e5f0; }

.Recomandation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  line-height: 1.5;
  font-weight: 600;
  font-size: 2rem; }
  .Recomandation__text {
    margin: 0 88px;
    text-align: left;
    color: #fff; }
    .Recomandation__text span {
      color: #000; }
  .Recomandation__Contact {
    color: #f4cf1b;
    font-size: 2.2rem;
    font-weight: 700;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center; }
    .Recomandation__Contact button {
      color: #1078ad;
      font-size: 2rem;
      border: 1px solid #f4cf1b;
      background-color: #f4cf1b;
      width: 250px;
      height: 70px; }
    .Recomandation__Contact a {
      color: #fff;
      text-decoration: underline #f4cf1b;
      margin-top: 20px; }

/*___________________________________end recommendation section________________________________________________*/
/*___________________________________start demarerTest section________________________________________________*/
.demarerTest {
  background-color: #bfdbea;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center; }
  .demarerTest__title {
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: #1078ad;
    margin-bottom: 60px; }
  .demarerTest__btnBlue {
    margin-top: 20px;
    width: 80%;
    height: 60px;
    background-color: #1078ad;
    border: 1px solid #1078ad;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 2.6rem; }

/*___________________________________end demarerTest section________________________________________________*/
/*___________________________________start footer section________________________________________________*/
footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center; }

.logo-footer {
  margin: 30px 0; }

.ContactFooter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }
  .ContactFooter__menu {
    display: flex;
    flex-flow: nowrap column-reverse;
    justify-content: space-around;
    align-items: center;
    list-style: none; }
  .ContactFooter__contact {
    font-weight: 600;
    text-align: center; }
    .ContactFooter__contact--blue {
      color: #1078ad;
      font-size: 2rem; }
    .ContactFooter__contact--black {
      color: #2b2b2c;
      font-size: 1.2rem; }
    .ContactFooter__contact--green {
      color: #43a45e;
      font-size: 2rem; }
  .ContactFooter__algo {
    text-align: justify;
    display: flex;
    align-items: center;
    color: #7f7f7f;
    padding: 20px; }

.rectanglDown {
  background-color: #1078ad;
  width: 100%;
  height: 40px;
  border-radius: 10px 10px 0 0; }

/*___________________________________end footer section________________________________________________*/
