header {
  // background-image: url('/Assets/png/Merged-bar-mat.png');
  background-image: url('/Assets/png/Merged-bar-transparent.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $colorHeaderBar;
  display: flex;
  justify-content: space-between;

}

.logo-sante {
  margin-top: 8px;
  margin-left: 30px;
  // width: auto;
  // height: auto;
}

.navbar {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;

  &__item {
      margin: 0 20px;
      font-weight: 700;
      font-size: 2rem;

      & a {
          text-decoration: none;
          color: $Black;
          &:hover {
            color: $blueBg;
          }
      }
  }

}

.multilangBtn {
  width: 140px;
  height: 50px;
  margin: 0 30px;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: transparent;
  border-radius: 16px;
  border: 2px solid $BlueTitle;
  display: flex;
  align-self: center;

  & .icon-multilang {
      width: 40px;
      height: 40px;
      margin: 0 12px;
  }
}

nav {
  display: flex;
}