$BlackTitle: #2b2b2c;
$Black:#000;
$BlueTitle:#1a519e;
$colorHeaderBar:#bfdbea;
$yellow:#f4cf1b;
$blueBg:#1078ad;
$greyText:#7f7f7f;


body {
    box-sizing: border-box;
    width: 100%;
    font-size: 24px;
}

@mixin h2 {
    text-align: center;
    font-size: 2rem;
    color: $blueBg;
    margin-bottom: 60px;
}
section{
    & h2{
        @include h2;
    }
}

/*________________________________start section header______________________________________________*/

@import "header";

/*________________________________end section header______________________________________________*/
/*________________________________start yellow section______________________________________________*/

@import "yellowsection";
/*________________________________end yellow section______________________________________________*/



/*________________________________start protoger section______________________________________________*/
.protection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    &__item {
        display: flex;
        flex-direction: column;
        // margin: 20px 0;
        // justify-content: space-around;
        & p {
            align-self: center;
            // width: 60%;
            text-align: center;
            // margin: 30px 104px;
            // font-size: 35px;
            font-weight: 600;
            color: $BlueTitle;
        }

        // &--alone {
        //     & p {
        //         // margin: 30px 437px;

        //     }
        // }

        & img {
            height: 100px;
            // width: auto;
            align-self: center;
            // margin: 4px 171px;
            //   width: 70px;
            //   height: 70px;
            //    margin-left: 101px;
        }
    }
}

/*___________________________________end protoger section________________________________________________*/

/*___________________________________start info section________________________________________________*/
@mixin btninfo {
    background-color: $blueBg;
    border: 1px solid $blueBg;
    // padding: 2px;
    width: 400px;
    height: 60px;
    text-align: center;
    color: #fff;
    align-self: center;
}

;

.infoSection {
    background-color: $colorHeaderBar;
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    justify-content: space-around;

    &__text {
        color: $BlueTitle;
        // width: 30%;
        & p{
            text-align: center;
            // width: 50%;
        }
        & h2{
            @include h2;
        }
    }

    // &__url {
    //     color: #fff;
    //     // width: 35%;
    //     // padding-top: 20px;
    //     @include btninfo;
    //     align-self: center;

    //     & a {
    //         // margin-left: 2px;
    //         // text-align: center;
    //         color: #fff;
    //         text-decoration: none;
    //         align-self: center;
    //     }
    // }

    &__button {
        align-self: center;
        // width: 35%;
        & button {
            // @media screen and (max-width: 768px) {
            //   }
            margin: 30px 0;
            font-size: 1.6rem;
            font-weight: 700;
            @include btninfo;
            & a {
                // margin-left: 2px;
                // text-align: center;
                color: #fff;
                text-decoration: none;
                align-self: center;
            }
        }
    }
}









/*___________________________________End info section________________________________________________*/

/*___________________________________start Symptomsection________________________________________________*/
@import "symptom";
/*___________________________________end Symptomsection________________________________________________*/

/*___________________________________end transmet section________________________________________________*/

/*___________________________________end transmet section________________________________________________*/

/*___________________________________start recommendation section________________________________________________*/
@import "recommendation";
/*___________________________________end recommendation section________________________________________________*/


/*___________________________________start demarerTest section________________________________________________*/
@import "demarerTest";

/*___________________________________end demarerTest section________________________________________________*/


/*___________________________________start footer section________________________________________________*/
@import "footer";

/*___________________________________end footer section________________________________________________*/