body {
  box-sizing: border-box;
  width: 100%;
  font-size: 24px; }

/*________________________________start section header______________________________________________*/
header {
  background-image: url("/Design/Assets/png/Merged-bar-mat.png");
  background-image: url("/Design/Assets/png/Merged-bar-transparent.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between; }

.logo-sante {
  margin-top: 8px;
  margin-left: 30px; }

.navbar {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none; }
  .navbar__item {
    margin: 0 20px;
    font-size: 1.5rem; }
    .navbar__item a {
      text-decoration: none;
      color: #2b2b2c; }
      .navbar__item a:hover {
        color: #6598df; }
      .navbar__item a:active {
        color: #6598df; }

.multilangBtn {
  width: 140px;
  height: 50px;
  margin: 0 30px;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 16px;
  border: 2px solid #6598df;
  display: flex;
  align-self: center; }
  .multilangBtn .icon-multilang {
    width: 40px;
    height: 40px;
    margin: 0 12px; }

nav {
  display: flex; }

/*________________________________end section header______________________________________________*/
/*________________________________start yellow section______________________________________________*/
.yellowsection1 {
  text-align: center;
  line-height: 1.6;
  background-color: #f4cf1b;
  margin-top: 0;
  padding: 2px;
  font-size: 1.2rem; }
  .yellowsection1 span {
    margin: 0;
    color: #000; }
  .yellowsection1 p {
    color: #1078ad; }

/*________________________________end yellow section______________________________________________*/
/*___________________________________start testsection2________________________________________________*/
.testSection2 {
  margin-right: 30px;
  display: flex; }
  .testSection2__img {
    width: 50%; }
    .testSection2__img img {
      width: 100%;
      margin-top: 40px; }
  .testSection2__text {
    line-height: 1.5;
    margin-top: 40px;
    font-weight: 600;
    font-size: 1.6rem;
    width: 50%;
    color: #7f7f7f;
    align-self: center;
    text-align: center; }
    .testSection2__text--title {
      color: #6598df;
      font-size: 2.2rem; }
    .testSection2__text--img {
      width: 70px;
      height: 70px; }
    .testSection2__text--btnBlue {
      width: 700px;
      height: 60px;
      background-color: #1078ad;
      border: 1px solid #1078ad;
      border-radius: 3px;
      color: #fff;
      font-weight: 500;
      font-size: 2.6rem; }

/*___________________________________end testsection2________________________________________________*/
/*___________________________________start Symptomsection________________________________________________*/
.symptomSection3 {
  text-align: center; }
  .symptomSection3 h2 {
    color: #1078ad;
    margin-bottom: 60px; }

.symptom {
  display: flex;
  justify-content: space-around;
  margin: 2px 20%; }
  .symptom__item {
    width: 189px; }
    .symptom__item p {
      margin: 2px 0;
      font-size: 2rem;
      font-weight: 600; }

/*___________________________________end Symptomsection________________________________________________*/
/*___________________________________start recommendation section________________________________________________*/
.RecomandatSect4 {
  background-color: #1078ad;
  padding: 20px; }
  .RecomandatSect4 h2 {
    color: #d0e5f0; }

.Recomandation {
  display: flex;
  line-height: 1.5;
  font-weight: 600;
  font-size: 2rem; }
  .Recomandation__text {
    margin: 0 88px;
    text-align: left;
    width: 60%;
    color: #fff; }
    .Recomandation__text span {
      color: #000; }
  .Recomandation__Contact {
    color: #f4cf1b;
    font-size: 2rem;
    display: flex;
    flex-direction: column; }
    .Recomandation__Contact button {
      color: #1078ad;
      font-size: 2rem;
      background-color: #f4cf1b;
      width: 250px;
      height: 70px; }
    .Recomandation__Contact a {
      color: #fff;
      text-decoration: underline #f4cf1b;
      margin-top: 20px; }

/*___________________________________end recommendation section________________________________________________*/
/*___________________________________start demarerTest section________________________________________________*/
/*___________________________________end demarerTest section________________________________________________*/
/*___________________________________start footer section________________________________________________*/
/*___________________________________end footer section________________________________________________*/
