.symptomSection3 {
    text-align: center;

    & h2 {
        color: $blueBg;
        margin-bottom: 60px;
    }
}

.symptom {
    display: flex;
    justify-content: space-around;
    margin: 2px 20%;

    &__item {
        width: 189px;

        & p {
            margin: 2px 0;
            font-size: 2rem;
            font-weight: 600;
        }
    }
}