$BlackTitle: #2b2b2c;
$Black:#000;
$BlueTitle:#6598df;
$colorHeaderBar:#bfdbea;
$yellow:#f4cf1b;
$blueBg:#1078ad;


body {
    box-sizing: border-box;
    width: 100%;
    font-size: 24px;
}
/*________________________________start section header______________________________________________*/

@import "header";

/*________________________________end section header______________________________________________*/
/*________________________________start yellow section______________________________________________*/

@import "yellowsection";
/*________________________________end yellow section______________________________________________*/

/*___________________________________start testsection2________________________________________________*/

.testSection2 {
    margin-right: 30px;
    display: flex;

    &__img {
        width: 50%;

        & img {
            width: 100%;
            margin-top: 40px;
        }
    }
    @mixin btnBlue{
            width: 700px;
            height: 60px;
            background-color: $blueBg;
            border: 1px solid $blueBg;
            border-radius: 3px;
            color: #fff;
            font-weight: 500;
            font-size: 2.6rem;
    }

    @mixin textDemarerText {
        // display: flex;
        // flex-direction: column;
        line-height: 1.5;
        margin-top: 40px;
        font-weight: 600;
        font-size: 1.6rem;
    }
    &__text {
       @include textDemarerText;
        width: 50%;
        color: #7f7f7f;
        align-self: center;
        text-align: center;

        &--title {
            color: $BlueTitle;
            font-size: 2.2rem;
        }
        &--img{
            width: 70px;
            height: 70px;
        }
        &--btnBlue {
          @include btnBlue;
        }
    }   
}
/*___________________________________end testsection2________________________________________________*/


/*___________________________________start Symptomsection________________________________________________*/
@import "symptom";
/*___________________________________end Symptomsection________________________________________________*/


/*___________________________________start recommendation section________________________________________________*/
@import "recommendation";
/*___________________________________end recommendation section________________________________________________*/


/*___________________________________start demarerTest section________________________________________________*/
@import "demarerTest";

/*___________________________________end demarerTest section________________________________________________*/


/*___________________________________start footer section________________________________________________*/
@import "footer";
/*___________________________________end footer section________________________________________________*/
